name: Build CI

on:
  push:
    branches: master
  pull_request:
    branches: '*'

jobs:
  build:
  
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up node
        uses: actions/setup-node@v2.2.0
        with:
          node-version: 'lts/*'
          cache: 'yarn'

      - name: Build
        run: yarn install
        
      - name: Run tests
        run: yarn test

      - name: Upload codecov report
        uses: codecov/codecov-action@v1.5.2
